@import 'tailwindcss';

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

/* Theme Tokens --------------------------------------------------- */
@import './theme/fonts.css';
@import './theme/colors.css';
@import './theme/animations.css';

/* Custom Utilities ----------------------------------------------- */
@import './theme/utilities.css';

/* Base Styles ----------------------------------------------------- */
@import './base/globals.css';
@import './theme/typography.css';
