/**
 * ANIMATIONS
 * Accordion open/close + future animation tokens.
 */

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    0% {
      height: var(--radix-accordion-content-height);
    }
    100% {
      height: 0;
    }
  }
}
